.env
__pycache__
./__pycache__/ai_assistant.cpython-312.pyc ./__pycache__/calculator.cpython-312.pyc ./__pycache__/config.cpython-312.pyc ./__pycache__/ui_components.cpython-312.pyc ./__pycache__/utils.cpython-312.pyc ./__pycache__/visitor_analytics.cpython-312.pyc ./__pycache__/visitor_counter.cpython-312.pyc
